<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d40714ba-c10e-4ab6-8885-ec247f44482b" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38ca8a27-c5e1-4d2b-b18d-d9e7a129e27e">contentProperties</Composition>
      <Composition Key="44ae73a9-74b2-4df9-8708-65880c89c4c0">headerProperties</Composition>
      <Composition Key="eb068710-d79b-427e-b6bd-f229761760ac">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7b2261a-5549-4404-94a8-d4322ada88e8">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>