<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d4d0240-084a-4028-9b98-642eb17a6dbe" Alias="blockVisibilitySettings" Level="4">
  <Info>
    <Name>Block Visibility Settings</Name>
    <Icon>icon-defrag color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Content+Blocks/Setting+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>85d0d7f6-c923-477c-be1a-5c27de625e4e</Key>
      <Name>Hide</Name>
      <Alias>hide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you want to hide this item]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>60581aa8-78b9-4ac9-954c-5034cae92a3f</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>