<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9a83b612-60b2-41b1-b314-9dd12aa51cb7" Alias="carouselItem" Level="4">
  <Info>
    <Name>Carousel Item</Name>
    <Icon>icon-slideshow color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="9734a293-7403-4f62-8dec-a45f66401c19">descriptionProperty</Composition>
      <Composition Key="f34b5ced-9dff-4dcb-baf2-9f0cd9bcc33d">imageProperty</Composition>
      <Composition Key="17bf9ff4-3da3-4815-8ca2-b972146b0a78">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>