<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d002ea36-8b6c-4864-8696-2ceb5206a91a" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38ca8a27-c5e1-4d2b-b18d-d9e7a129e27e">contentProperties</Composition>
      <Composition Key="44ae73a9-74b2-4df9-8708-65880c89c4c0">headerProperties</Composition>
      <Composition Key="eb068710-d79b-427e-b6bd-f229761760ac">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b585619-3c0b-434e-859d-5b665271dff4">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>