<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dae48add-089d-421b-a099-d784347f735d" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-old-phone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contacts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="38ca8a27-c5e1-4d2b-b18d-d9e7a129e27e">contentProperties</Composition>
      <Composition Key="44ae73a9-74b2-4df9-8708-65880c89c4c0">headerProperties</Composition>
      <Composition Key="eb068710-d79b-427e-b6bd-f229761760ac">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="195fb37c-a092-4f7d-bce6-ba736f1e4240">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>