<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8018b50b-7692-4c51-b24a-965ed160c570" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured Items Row</Name>
    <Icon>icon-thumbnail-list color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="9734a293-7403-4f62-8dec-a45f66401c19">descriptionProperty</Composition>
      <Composition Key="17bf9ff4-3da3-4815-8ca2-b972146b0a78">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36332a7b-8717-418f-9780-464692eeb747</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>6ed011a5-62a0-4fc0-8450-75dd2e9371cd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the featured items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e3138d09-398b-41e7-b7b2-70f86d96612e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>