<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b145997e-4a5c-4ef3-8536-ed1b0c305d75" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page of the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="dab0e7d7-52a4-4d11-b662-1eaccc19ef38">footerProperties</Composition>
      <Composition Key="44ae73a9-74b2-4df9-8708-65880c89c4c0">headerProperties</Composition>
      <Composition Key="f4c16ea4-3f28-4acd-942b-456729e85ba6">imageRow</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c58f5d5-74d4-4e16-b447-751f09323b25">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d002ea36-8b6c-4864-8696-2ceb5206a91a" SortOrder="0">contentPage</ContentType>
    <ContentType Key="dae48add-089d-421b-a099-d784347f735d" SortOrder="1">contactPage</ContentType>
    <ContentType Key="d40714ba-c10e-4ab6-8885-ec247f44482b" SortOrder="2">articleListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>