<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7283d98-41b1-4893-a2e9-edd41b29ed8b" Alias="quoteRowSettings" Level="4">
  <Info>
    <Name>Quote Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="9d4d0240-084a-4028-9b98-642eb17a6dbe">blockVisibilitySettings</Composition>
      <Composition Key="92cb624f-7893-4210-9b6e-d2f15ba44f5e">textAlignSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>