<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ed011a5-62a0-4fc0-8450-75dd2e9371cd" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3122ff91-b455-43e8-85a7-ee26d7955417",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != \"? title: 'Image Link' + $index}} {{$settings.hide =='1'?'[HIDDEN]': ''}}",
      "settingsElementTypeKey": "4066d84d-172d-493a-9a02-f805e3e72b38",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>