<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbca9a9d-ba6e-41fe-b492-f5d45f125bc9" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a42c4e6e-bc8b-48aa-9184-c73c7b118d53",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rck Text' + $index}}",
      "settingsElementTypeKey": "5925b861-68e8-4ea2-b76c-2f05e5de261b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f4c16ea4-3f28-4acd-942b-456729e85ba6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Image' + $index}}",
      "settingsElementTypeKey": "f059ef6f-ffd2-4bea-a3c5-9646279ad9cb",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8018b50b-7692-4c51-b24a-965ed160c570",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != ''? title: 'Featured Items' + $index}} {{$settings.hide =='1'?'[HIDDEN]': ''}}",
      "settingsElementTypeKey": "649d251d-f095-4596-a419-38af2a85225d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a55a4e1f-9179-4d17-ac44-10c8713d1cf4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != ''? title: 'Accordion Item' + $index}} {{$settings.hide =='1'?'[HIDDEN]': ''}}",
      "settingsElementTypeKey": "dc9735e0-afa6-40e4-a788-c5b0dd1d50ff",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1e00201b-d348-4293-b975-03853c00f03e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": "f7283d98-41b1-4893-a2e9-edd41b29ed8b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2e6c64c6-6a71-4e00-b95c-fe39b374a4b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Carousel' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "bd852353-a5de-4581-b424-68fb059cb914",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>