<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a198c35-106b-497b-bf8c-186abac9648a" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "35347da7-b488-4ce5-be94-85f935cf2741",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title != \"? title: 'Accordion Item' + $index}} {{$settings.hide =='1'?'[HIDDEN]': ''}}",
      "settingsElementTypeKey": "d20de970-5a6e-4bf6-b515-2dd11b25bf82",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>