<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95d199e1-10c7-4b35-88c1-c30f9a7d0a61" Alias="[Multi URL Picker] Single URL Picker" Level="1">
  <Info>
    <Name>[Multi URL Picker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>