<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fd09c5d-6020-4a81-b03d-d06e4b94df90" Alias="[Repeatabletextstrings]" Level="1">
  <Info>
    <Name>[Repeatabletextstrings]</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>