<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7e5e5ca-9fda-4023-b957-816e716401e6" Alias="Andre Filipe Gjakekw4bny Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AndreFilipeGjakekw4bnyUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-21T15:04:03</CreateDate>
    <NodeName Default="Andre Filipe Gjakekw4bny Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ztsplj40/andre-filipe-gjakekw4bny-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>