<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f68da60-c687-4080-a7a1-35f1b4439eeb" Alias="Neom M5wj2thja14 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NeomM5wj2thja14Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-21T11:44:33</CreateDate>
    <NodeName Default="Neom M5wj2thja14 Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1ngrh2h/neom-m5wj2thja14-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>