<?xml version="1.0" encoding="utf-8"?>
<Content Key="89ea5d7b-b965-4022-a997-415472fcf18f" Alias="About" Level="2">
  <Info>
    <Parent Key="9ed84068-807c-463c-813e-fc4ef14de686">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-21T15:10:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b585619-3c0b-434e-859d-5b665271dff4">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is a test of my webpage</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "1859cc85-c46f-46c0-8789-14a6b5088127",
    "mediaKey": "a7e5e5ca-9fda-4023-b957-816e716401e6"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7b9c2c8bc6384a19ae4acd745a08c0cd",
        "settingsUdi": "umb://element/5907600ed85e4ad99070c29177e40a2d"
      },
      {
        "contentUdi": "umb://element/f5dadceff91748a385b40de773a0763d",
        "settingsUdi": "umb://element/1a8a4daaa58b4566a4ec8e88c891f8e4"
      },
      {
        "contentUdi": "umb://element/59a9774dbfb14ac4a9d65e120a88fec6",
        "settingsUdi": "umb://element/5c4cecc1107a4fb4a8067149a5203f4e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a42c4e6e-bc8b-48aa-9184-c73c7b118d53",
      "udi": "umb://element/7b9c2c8bc6384a19ae4acd745a08c0cd",
      "content": "<p>This is from row one </p>"
    },
    {
      "contentTypeKey": "a42c4e6e-bc8b-48aa-9184-c73c7b118d53",
      "udi": "umb://element/f5dadceff91748a385b40de773a0763d",
      "content": "<p>This is from row two</p>"
    },
    {
      "contentTypeKey": "1e00201b-d348-4293-b975-03853c00f03e",
      "udi": "umb://element/59a9774dbfb14ac4a9d65e120a88fec6",
      "quoteText": "<p>El que la sigue la consigue.</p>",
      "quoteAuthor": "David",
      "authorJobTitle": "Engineer",
      "citeLink": [
        {
          "name": "www.google.com",
          "target": "_blank",
          "url": "www.google.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5925b861-68e8-4ea2-b76c-2f05e5de261b",
      "udi": "umb://element/5907600ed85e4ad99070c29177e40a2d"
    },
    {
      "contentTypeKey": "5925b861-68e8-4ea2-b76c-2f05e5de261b",
      "udi": "umb://element/1a8a4daaa58b4566a4ec8e88c891f8e4"
    },
    {
      "contentTypeKey": "f7283d98-41b1-4893-a2e9-edd41b29ed8b",
      "udi": "umb://element/5c4cecc1107a4fb4a8067149a5203f4e",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[about of my web page]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco about]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>