<?xml version="1.0" encoding="utf-8"?>
<Content Key="89ea5d7b-b965-4022-a997-415472fcf18f" Alias="About" Level="2">
  <Info>
    <Parent Key="9ed84068-807c-463c-813e-fc4ef14de686">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-21T15:10:24</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b585619-3c0b-434e-859d-5b665271dff4">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is a test of my webpage</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "1859cc85-c46f-46c0-8789-14a6b5088127",
    "mediaKey": "a7e5e5ca-9fda-4023-b957-816e716401e6"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7b9c2c8bc6384a19ae4acd745a08c0cd",
        "settingsUdi": "umb://element/5907600ed85e4ad99070c29177e40a2d"
      },
      {
        "contentUdi": "umb://element/f5dadceff91748a385b40de773a0763d",
        "settingsUdi": "umb://element/1a8a4daaa58b4566a4ec8e88c891f8e4"
      },
      {
        "contentUdi": "umb://element/59a9774dbfb14ac4a9d65e120a88fec6",
        "settingsUdi": "umb://element/5c4cecc1107a4fb4a8067149a5203f4e"
      },
      {
        "contentUdi": "umb://element/78bdcfe1bf61449a88ef0a77bcb5e94f",
        "settingsUdi": "umb://element/1d65b27ccf854593a91961283f06b105"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a42c4e6e-bc8b-48aa-9184-c73c7b118d53",
      "udi": "umb://element/7b9c2c8bc6384a19ae4acd745a08c0cd",
      "content": "<p>This is from row one </p>"
    },
    {
      "contentTypeKey": "a42c4e6e-bc8b-48aa-9184-c73c7b118d53",
      "udi": "umb://element/f5dadceff91748a385b40de773a0763d",
      "content": "<p>This is from row two</p>"
    },
    {
      "contentTypeKey": "1e00201b-d348-4293-b975-03853c00f03e",
      "udi": "umb://element/59a9774dbfb14ac4a9d65e120a88fec6",
      "quoteText": "<p>El que la sigue la consigue.</p>",
      "quoteAuthor": "David",
      "authorJobTitle": "Engineer",
      "citeLink": [
        {
          "name": "www.google.com",
          "target": "_blank",
          "url": "www.google.com"
        }
      ]
    },
    {
      "contentTypeKey": "2e6c64c6-6a71-4e00-b95c-fe39b374a4b4",
      "udi": "umb://element/78bdcfe1bf61449a88ef0a77bcb5e94f",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1b4f0964946f4b0c818d21f4a3219d2d",
              "settingsUdi": "umb://element/8757a6eae01049729c25c6a468534170"
            },
            {
              "contentUdi": "umb://element/f7b13a68eb984f0aa7cc868601a2b05c",
              "settingsUdi": "umb://element/4a4e0deb511049dca093ecb2d2f9df8a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "9a83b612-60b2-41b1-b314-9dd12aa51cb7",
            "udi": "umb://element/1b4f0964946f4b0c818d21f4a3219d2d",
            "title": "Hello World",
            "description": "Imagen inicial",
            "image": [
              {
                "key": "44167617-f8d4-4f35-a4b2-a0ac2329d1e8",
                "mediaKey": "9f68da60-c687-4080-a7a1-35f1b4439eeb"
              }
            ]
          },
          {
            "contentTypeKey": "9a83b612-60b2-41b1-b314-9dd12aa51cb7",
            "udi": "umb://element/f7b13a68eb984f0aa7cc868601a2b05c",
            "title": "Vehículo",
            "description": "Imagen de vehículo",
            "image": [
              {
                "key": "11a06e83-7102-472d-bbbf-38565b11323d",
                "mediaKey": "a7e5e5ca-9fda-4023-b957-816e716401e6"
              }
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "cb539ee4-460d-4882-b25a-b9c36d75d014",
            "udi": "umb://element/8757a6eae01049729c25c6a468534170",
            "hide": "0"
          },
          {
            "contentTypeKey": "cb539ee4-460d-4882-b25a-b9c36d75d014",
            "udi": "umb://element/4a4e0deb511049dca093ecb2d2f9df8a",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5925b861-68e8-4ea2-b76c-2f05e5de261b",
      "udi": "umb://element/5907600ed85e4ad99070c29177e40a2d"
    },
    {
      "contentTypeKey": "5925b861-68e8-4ea2-b76c-2f05e5de261b",
      "udi": "umb://element/1a8a4daaa58b4566a4ec8e88c891f8e4"
    },
    {
      "contentTypeKey": "f7283d98-41b1-4893-a2e9-edd41b29ed8b",
      "udi": "umb://element/5c4cecc1107a4fb4a8067149a5203f4e",
      "hide": "0"
    },
    {
      "contentTypeKey": "bd852353-a5de-4581-b424-68fb059cb914",
      "udi": "umb://element/1d65b27ccf854593a91961283f06b105",
      "hide": "0",
      "showIndicators": "1",
      "showNavigationArrows": "1",
      "showDarkMode": "1"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[about of my web page]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Umbraco about]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>