<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ed84068-807c-463c-813e-fc4ef14de686" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-11-20T14:47:21</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c58f5d5-74d4-4e16-b447-751f09323b25">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "71f8780a-4754-45d0-bf82-bb4fa4d72185",
    "mediaKey": "9f68da60-c687-4080-a7a1-35f1b4439eeb"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[A blog website for David]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[David's Umbraco Site]]></Value>
    </title>
  </Properties>
</Content>