<?xml version="1.0" encoding="utf-8"?>
<Content Key="b11c99b0-dabb-4cf5-8729-6ff24915e3a6" Alias="Umbraco first page" Level="2">
  <Info>
    <Parent Key="9ed84068-807c-463c-813e-fc4ef14de686">Home</Parent>
    <Path>/Home/UmbracoFirstPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-21T15:04:14</CreateDate>
    <NodeName Default="Umbraco first page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b585619-3c0b-434e-859d-5b665271dff4">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is a test for my Umbraco webpage</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "19bf9dd5-246c-4b6c-aab0-5517f3e7030d",
    "mediaKey": "a7e5e5ca-9fda-4023-b957-816e716401e6"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[This is about part]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>